<app-header></app-header>
<section class="container">
    <section class="card m-auto mt-5">
        <div class="card-body">
            <form [formGroup]="employeeForm">
                <h2>Employee Details:</h2>
                <div class="row mb-3">
                    <label for="empId" class="col-sm-2 col-form-label">Employee ID</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="employeeId" class="form-control" id="empId">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="firstName" class="form-control" id="inputEmail3">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail33" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="lastName" class="form-control" id="inputEmail33">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" formControlName="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="doj" class="col-sm-2 col-form-label">Date of Joining</label>
                    <div class="col-sm-10">
                        <input type="date" formControlName="doj" class="form-control" id="doj">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="department" class="col-sm-2 col-form-label">Department</label>
                    <div class="col-sm-10">
                        <select formControlName="department" 
                            class="form-select" aria-label="Default select example">
                            <option selected>-- Set Department --</option>
                            <ng-container *ngFor="let item of departments">
                                <option [value]="item" >{{item}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Address</legend>
                    <div class="col-sm-3">
                        <label for="city" class="col-form-label">Country</label>
                        <select formControlName="country" 
                            (change)="onChangeCountry()"
                            class="form-select" aria-label="Default select example">
                            <option selected>-- Set Country --</option>
                            <ng-container *ngFor="let item of countries">
                                <option [value]="item" >{{item}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="city" class="col-sm-2 col-form-label">State</label>
                        <select formControlName="state"  
                            (change)="onChangeState()"
                            class="form-select" aria-label="Default select example">
                            <option selected>-- Set State --</option>
                            <ng-container *ngFor="let item of states">
                                <option [value]="item" >{{item}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="city" class="col-sm-2 col-form-label">City</label>
                        <select formControlName="city" 
                            class="form-select" aria-label="Default select example">
                            <option selected>-- Set City --</option>
                            <ng-container *ngFor="let item of cities">
                                <option [value]="item" >{{item}}</option>
                            </ng-container>
                        </select>
                    </div>
                   
                </fieldset>
                <button type="button" class="btn btn-primary" *ngIf="hasCreateAccess()">Add New</button>
            </form>
        </div>
    </section>
</section>
<app-footer></app-footer>